// Variables
// --------------------------------------------------

//== Colors
//## Gray and brand colors for use across Bootstrap.
$white:                 #fff;
$white-opaque:          rgba(255,255,255,0.95);
$white-more-opaque:     rgba(255,255,255,0.9);
$white-less-transparent:rgba(255,255,255,0.8);
$white-medium-opaque:   rgba(255,255,255,0.5);
$white-less-opaque:     rgba(255,255,255,0.15);
$white-lighter-opaque:  rgba(255,255,255,0.1);
$white-txt:             #dddddd;
$white-txtnav:          #eceff1;
$txtnav-txt:            #ffffff;
$black:                 #000;
$blacknav:              #000;
$black-light:           #222;
$light-black:           #212121;
$sidebar:               #101113;
$sidebarnav:            #101113;
$sub-menu:              rgba(48, 55, 62, 0.28);
$shark:                 rgba(39, 44, 49, 0.9);

$gray-darker:           lighten(#111, 8%);      // #252525
$gray-dark:             #30373e;                // #30373e
$gray-less-dark:        #888f95;
$gray-solid:            #808080;
$gray:                  lighten($black, 33.5%);   // #555
$gray-med:              lighten($black, 56%);     // #8f8f8f
$gray-light:            lighten($black, 80%);     // #ccc
$gray-white:            #aaa;
$gray-dark-white:       #b1b1b1;
$gray-light-white:      #D4D5D6;
$gray-lighter-white:    #dfe0e1;
$gray-lighter:          lighten($black, 93.5%);   // #eee
$gray-less:             #ebeced;
$gray-lesser:           #f9f9f9;
$gray-modal:            #494949;
$gray-orange:           #faebd7;
$cod-gray:              rgba(17, 17, 17, 0.68);
$gray-blue:             #595F64;
$gray-dark-blue:        #BBC2C7;
$hit-gray:              #aab3ba;
$silver-sand:           #bcbdbe;
$nobel:                 rgba(187,184,184,0.92);
$porcelain:             #EAEDEF;


$black-real-transparent:     rgba(0,0,0,0);
$black-higher-transparent:   rgba(0,0,0,0.025);
$black-high-transparent:     rgba(0,0,0,0.07);
$black-less-opaque:          rgba(0,0,0,0.125);
$black-lesser-opaque:        rgba(0,0,0,0.175);
$black-lighter-transparent:  rgba(0,0,0,0.2);
$black-less-transparent:     rgba(0,0,0,0.25);
$black-light-transparent:    rgba(0,0,0,0.3);
$black-medium-transparent:   rgba(0,0,0,0.5);
$black-medium-opaque:        rgba(0,0,0,0.6);
$black-lighter-opaque:       rgba(0,0,0,0.8);
$black-light-opaque:         rgba(0,0,0,0.87);
$black-high-opaque:          rgba(0,0,0,0.92);
$black-higher-opaque:        rgba(0,0,0,0.96);



$red:                   #db5565;
$red-light:             #df6a78;
$red-dark:              #c04b59;
$delete:                #AB2B3B;
$red-darkest:           #A02417;
$dark-maroon:           #451118;

$blue:                  #0768cc;
$blue-light:            #29b6d8;
$blue-light-dark:       #38AFD3;
$blue-dark:             #031D39;
$top-blue:              #0768cc;                        //#0768cc
$bot-blue:              #020d19;                        //#020d19
$curious-blue:          #2184DA;
$havelock-blue:         #4D9CE1;
$viking:                #5FBFDB;

$green:                 #a6a621;
$green-light:           #66c796;
$green-dark-light:      #65C56F;
$green-dark:            #47a877;
$green-darker:          #0a7840;

$yellow:                #F8971D;
$yellow-light:          rgba(248, 151, 29, 0.54);
$yellow-med:            rgba(248, 151, 29, 0.77);
$yellow-dark:           darken($yellow, 10%);
$yellow-header:         rgba(202, 117, 10, 0.77);
$yellow-darker:         #7B4604;
$yellow-agent:          #C3781A;

$orange:                #C27719; //rgb(194, 119, 25)
$orange-dark:           #9F5D0A;
$orange-light:          #fcaf41;

$irish-coffee:          rgba(95, 69, 37, 0.77);


$dark:                  #211E1E;
$dark-darker:           #0f1112;
$dark-light:            lighten($dark, 5%);
$dark-dark:             darken($dark, 5%);
$dark-blue:             #3c454d;

$brand-primary:         $blue;
$brand-success:         $green;
$brand-info:            $blue-light;
$brand-warning:         $yellow;
$brand-danger:          $red;

$transparent:           transparent;

$mainColor:             $blue;
$transparent-black: $black-medium-transparent;
$transparent-dark-black: rgba(0, 0, 0, 0.9);
/*Other colors form themes*/

$clean-gray-med:        #666666;
$clean-gray-dark:       #101113;
$wood-smoke:            rgba(16, 17, 19, 0.66);
$clean-gray-darker:     #3F4040;
$mine-shaft:            #333;
$clean-light:           #E8E8E8;

$merica-blue:                      #2C3E50;
$merica-red:                       $red-darkest;
$merica-white:                     #ECF0F1;
$merica-blue-light-dark:           #1e77C5;
$merica-blue-lt:                   #3498DB;
$merica-blue-med:                  #2980B9;

$jelly-bean:            #2d8ca9;

$white-blue:            #E1E6FA;
$white-blue-med:        #6290bc;
$white-blue-dark:       #ABC8E2;
$ocean-blue:            #375D81;
$navy-blue:             #183152;

$white-green:           #F6FFE0;
$white-green-med:       #E2F0D6;
$white-green-dark:      #BDD684;
$ocean-green:           #95AB63;
$navy-green:            #10222B;
$de-york:               #83D08B;
$fruit-salad:           #519e59;

$penn-blue:             #263248;
$penn-blue-med:         #7E8AA2;
$penn-yellow:           #FF9800;

$magic-base:            #FF5156;
$magic-dark:            #593634;

$cell:                  #7E6D9C;
$cell-gray:             #897F98;
$cell-black:            #141414;

$purple:                #7C4792;
$purple-light:          #9b59b6;
$purple-lighter:        #AF7AC4;


$dutch-base:            #CDE855;
$dutch-white:           #F5F6D4;
$dutch-med:             #85DB18;
$dutch-dark:            #191604;

$presque-white:         #E6E2AF;
$presque-base:          #046380;
$presque-med:           #A7A37E;
$presque-dark:          #002F2F;


// FONTS

$questrial:             'Questrial', sans-serif;
$abc:                   'ABeeZee', sans-serif;
$nunito:                'Nunito', sans-serif;
$news:                  'News Cycle', sans-serif;
$roboto:                'Roboto', sans-serif;
$nobile:                'Nobile', sans-serif;


//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg:               #f2f2f2;
$text-color:            $gray-dark;

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);
$navbar-bg:             #a6a621;
$navbar-nav-color:      $text-color;

$sidebar-bg:            $dark-light;
$sidebar-width:         250px;
$sidebar-collapse-width:70px;//collapsed width sidebar
$sidebar-link-height:   50px;
$navbar-height:         55px;

$right-sidebar-bg:      $white;
$right-sidebar-width:   0px;

$nav-active-bg:         $dark;
$nav-active-color:      #fff;
$nav-icon-color:        #bbbbbb;
$nav-hover-bg:          $dark-dark;
$nav-hover-color:       #fff;
$nav-sub-bg:            $nav-hover-bg;

$border-color:          #e3e3e3;

$content-padding:       20px;

$rotator-img-width:     150px;

$border-radius-base:    5px;
//tile colors
$tile-body-color:#C27719;
$tile-label-color:$sidebar;
$widget-orange:rgba(248,151,29,.77);
// $dropdown-active-color :$white;
$dates-border:$clean-gray-med;
// $multiselect-dropdown-placeholder-color:$gray;
$dates-hover:$white;
$input-addon-color:$gray-dark;
$icon-color: #000000;
$icon2-color:$gray-med;
$nav-elem-hover-color: $white;
$footer-bg-color:#101113;
$header-txt :$white;
$label-txt-color:#FFFFFF;
$badge-bg-color:$yellow-med ;
$formcontrol-border-color:#8f8f8f;
$formcontrol-bg-color:#211E1E;
$nav-pills-active:$yellow-med;
$nav-pills-hover:darken($gray-light, 20%);;
$uib-daypicker-btn-bg-color:$nav-icon-color;
$uib-daypicker-btn-bg-hover:$dates-border;
$uib-datepicker-popup-btn-bgcolor:#fff;
$uib-datepicker-popup-btn-hover-color:transparent;
$notification_active_btn:$yellow-med;
$notification-inactive-btn:$gray;
$notification-header-bg:$gray-dark;
$notification-header-bg-hover:$gray-dark;
$switch-hover:rgba(248,151,29,0.77);
$form-control-border-color:#8f8f8f;
$input-datefield-color:$gray-med;
$tile-body-bg-color: #C27719;
$form-grp-hover:rgba(248,151,29,0.77);
$mce-bg:#000;
$mce-toolbar-grp:#1f1f1f;
$mce-toolbar-grp-bg-color:$yellow-med;
$input-group-addon-right-search:$gray-dark;
$pagination-bg-color:$white-txt;;
$pagination-color:#211E1E;
$card-front-info-label:$tile-label-color;
$flip-color:$white;
$tile-footer:#C27719;
$radio-custom-label:rgba(248, 151, 29, 0.77);
$radio-custom-color:$white-txt;
$radio-custom-bg-color:#dddddd;
$custom-dropdown-bg-color:$gray-dark;
// $uib-datepicker-popup-btn-bgcolor:$nav-icon-color;
$customDropdown-dropdown-menu-li: $clean-gray-med;
// $sidebar-nav-header:$yellow-light;
$tile-info-color:$black;
$accordian-bg-color:$dark;
$input-text-color:$white-txt;
$notes-text-body-color:$white-txt;
$table-header-bg:$gray;
$calender-uib-title:rgba(248, 151, 29, 0.77);
$calender-uib-year:$clean-gray-med;
$calender-disabled:$gray-dark;
$tinymce-bg:$sidebar;
$tinymce-footer-bg:#1f1f1f;
$tinymce-bar-text-color:#2f2f2f;
